#content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.image-div {
    width: 470px;
    height: 380px;
    align-self: center;
}
.img {
    width: 100%;
    height: 100%;
}
p {
    text-transform: capitalize;
    text-align: justify;
}
.content-div {
    display: flex;
    flex-flow: column;
}
.flexed {
    display: flex;
    justify-content: space-evenly;
}
.bordered {
    border: 1.1px solid dodgerblue;
    border-radius: 29%;
    width: 173px;
}
.boxed {
    width: 146px;
    border: 1.1px solid dodgerblue;
}
.tabbed {
    background: rgb(195, 236, 236);
    border: 1.1px dashed cyan;
    /* overflow: hidden; */
}
.svgd {
    height: 20px;
    width: 17px;
}
.svgd:hover {
    background-color: cornflowerblue;
    border-radius: 38%;
}
.menufied {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: bolder;   
}
.menufied:hover {
    background-color: honeydew;
    color: cornflowerblue;
}
.menufied:active {
    background-color: cornflowerblue;
    color: cornsilk;
}
.menu-active {
    background-color: cornflowerblue;
    color: cornsilk;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}
/* dropdown menus */
.dropdown {
    position: relative;
    overflow: visible;
    /* margin-top: 20px; */
    /* overflow-wrap: break-word; */
    /* display: inline-block; */
    /* float: left;
    overflow: hidden; */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 128px;
    box-shadow: 2px 8px 16px 2px rgba(0,1,1,0.2);
    z-index: 1;
    font-size: small;
}
/* .dropdown:hover .dropdown-content {display: block;} */
.dropdown-content a {
    color: dodgerblue;
    padding: 13px 17px;
    text-decoration: none;
    display: block;
    /* text-align: center; */
    text-align: left;
    float: none;
}
/* change color of dropdowns on hover */
/* .dropdown-content a:hover {background-color: #dddddd;} */
.dropdown-content a:hover {
    background-color: honeydew;
    color: cyan;
}
/* show dropdown menu while on hover */
/* .dropdown:hover .dropdown-content {display: block;} */
.dropdown:hover .dropdown-content {
    display: inline-block;
    margin-top: 47px;
}

/* rule for .dropdown element that is a direct child of another .dropdown element */
/* .dropdown > .dropdown {
    position: relative;
    left: -8rem;
    top: 1.2rem;
} */


/*
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.image-div {
    margin: auto;
    width: 470px;
    height: 380px;
}
img {
    width: 100%;
    height: 100%; 
}
p {
    text-transform: capitalize;
    text-align: justify;
} 
 */